h1 {
  font-size: 35px;
  text-align: center;
  }
img {
      height: 50px;
      object-fit: contain;
      margin:1px;
    }
    
li {
      display: flex;
      font-size:2rem;
      margin:20px;
  
    }